h2,
p {
    color: white;
}

body {
    color: white;
    background: #2727ff;
}

h1 strong {
    color: #00e5fc;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
}

img {
    margin: 5em;
}